APP_NAME: "wool" #应用名称
LOG_DEBUG: true #日志等级
SECRET_KEY: "SUS4zn5L9SC!F#W*NcoHIHwvE2r8!L1*cwPuR1P3UIZijIxa9lRX!D5@a$#CBmA8" #加密密钥
WEB: #web服务配置
  GIN_MODE: debug # gin 运行模式 debug,release
  HOST_NAME: :8080 # gin 运行host
REDIS: "redis://localhost:6378/1" #redis配置
MYSQL: "root:root@tcp(127.0.0.1:3306)/wool?parseTime=True&loc=Local&charset=utf8mb4&collation=utf8mb4_unicode_ci"
TASK_QUEUE: #任务队列 broker支持 amqp、redis
  #broker: amqp://root:q145145@127.0.0.1:5672/root
  broker: "redis://localhost:6379/0"
  result_backend: "redis://localhost:6379/0"
  results_expire_in: 1
  default_queue: "wool"